<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Application</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .box {
            background-color: rgb(197, 194, 194);
            padding: 100px 0;
            width: 400px;
            text-align: center;
            margin: 20px;
            display: inline-block;
        }
        .fav {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <h1>My vue application</h1>
    <div id="app">
        <div>
            <table v-show="showData">
                <thead>
                    <th>Book Title</th>
                    <th>Book Description</th>
                    <th>Author</th>
                    <th>Age</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{author}}</td>
                        <td>{{age}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <br>

            <div>
                <button @click="toggleData">
                    <span v-if="!showData">Show Data</span>
                    <span v-else>Hide Data</span>
                </button>
            </div>
        </div>

        <div>
            <span class="box" @mouseover="handleEvent($event,'mouseover')"> Mouse Over (enter) </span>
            <span class="box" @mouseleave="handleEvent($event,'mouseleave')" > Mouse Leave</span>
            <span class="box" @dblclick="handleEvent($event,'dblclick')"> Double Click </span>
            <span class="box" @mousemove="handleMouseMove" >Position -  {{x}},{{y}} </span>
        </div>

        <hr><br>

        <div>
            <div v-for="book in books" style="display: flex; justify-content: space-around; margin-bottom: 2rem; padding: 1rem; align-items: center;" :class="{ fav: book.isFav}" @click="toogleFav(book)">
                <img :src="book.img" :alt="book.title">
                <h3>Title: {{book.title}}</h3>
                <p>Author: {{book.author}}</p>
            </div>
        </div>

    </div>

    <script src="./index.js"></script>

</body>
</html>